<div class="container social-login">
  <div class="row">
    <div class="col-xs-4">
      <a href="/auth/facebook"><img src="/images/facebook.svg" alt="" class="img-responsive"></a>
    </div>
    <div class="col-xs-4">
      <a href="/auth/twitter"><img src="/images/twitter.svg" alt="" class="img-responsive"></a>
    </div>
    <div class="col-xs-4">
      <a href="/auth/google_oauth2"><img src="/images/google.svg" alt="" class="img-responsive"></a>
    </div>
  </div>
</div>